body,
html {
  height: 100%;
}

body {
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.adviceBox {
  height: 300px;
  width: 600px;
  background-color: hsl(217, 19%, 24%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}

.adviceID {
  color: hsl(150, 100%, 66%);
}

.adviceText {
  color: white;
  font-size: 28px;
  text-align: center;
}
